@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.bar {
  background-color: #006341;
  width: 168px;
  height: 22px;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  line-height: 90px;
  margin: 0;
  padding-bottom: 40px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  line-height: 50px;
  margin: 0;
  margin: 20px 0px;
}

.button {
  border: 2px solid #454545;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 3px;
  color: #454545;
  text-decoration: none;
}

.button:hover {
  color: #fff;
  background-color: #454545;
}

header .line {
  background-color: #117050;
  height: 10px;
}

.header--area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header--left img {
  width: 64px;
  height: 64px;
}

.header--right {
  display: flex;
  align-items: center;
}

.header--search form {
  display: flex;
}

.header--search input {
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #999;
  outline: 0;
  width: 100%;
  max-width: 250px;
}

.header--search button {
  border: 0;
  background: transparent;
  margin-left: -30px;
  cursor: pointer;
}

.header--search button img {
  width: 16px;
  height: 16px;
}

.header--menu {
  margin-left: 50px;
  cursor: pointer;
}

.header--menu img {
  width: 24px;
  height: 24px;
}

.banner {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 90px;
  padding-top: 90px;
}

.banner--images {
  margin-top: 60px;
}

.banner--images img {
  width: 148px;
  height: 148px;
  border: 5px solid #117050;
  border-radius: 50%;
  margin-right: 30px;
}

.area1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area1--content {
  padding: 80px;
}

.area1--quote {
  margin-bottom: 30px;
}

.area1-text {
  line-height: 25px;
  margin-bottom: 50px;
  color: #454545;
}

.area1--img1 {
  height: 350px;
  background-image: url(../images/f2.jpg);
  background-size: cover;
  background-position: center;
}

.area1--img2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url(../images/f1.jpg);
  background-size: cover;
  background-position: center;
}

.area2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area2--content {
  padding: 80px;
}

.area2-text {
  line-height: 25px;
  margin-bottom: 50px;
  color: #454545;
}

.area2--img1 {
  height: 450px;
  background-image: url(../images/f4.jpg);
  background-size: cover;
  background-position: center;
}

.area2--img2 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: url(../images/f3.jpg);
  background-size: cover;
  background-position: center;
}

.area3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area3--content {
  padding: 200px 80px;
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  background-position: left;
}

.area3--text {
  line-height: 25px;
  margin-bottom: 50px;
  color: #454545;
}

.area3--img1 {
  background-image: url(../images/f5.jpg);
  background-size: cover;
  background-position: center;
}
